.circle-button {
    min-width: 24px;
    min-height: 24px;
    padding: 0;
    margin: 0;
    position: relative;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 100%;
    cursor: pointer;
}

.circle-button__background {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    transition: transform 150ms ease-in;
}

.circle-button__background-color-grey {
    background-color: #f8f8f8;
}

.circle-button__background-color-accent {
    background-color: #6c63ff;
}

.circle-button__content {
    width: 24px;
    height: 24px;
    background-color: #333;
    mask-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle-button__content-color-grey {
    background-color: #999;
}

.circle-button__content-color-white {
    background-color: #fff;
}

.circle-button__content-type-profile {
    mask-image: url("/styles/icons/profile.svg");
    -webkit-mask-box-image: url("/styles/icons/profile.svg");
}

.circle-button__content-type-newchat {
    mask-image: url("/styles/icons/circle-plus.svg");
    -webkit-mask-box-image: url("/styles/icons/circle-plus.svg");
}

.circle-button__content-type-options {
    mask-image: url("/styles/icons/more.svg");
    -webkit-mask-box-image: url("/styles/icons/more.svg");
}

.circle-button__content-type-paperclip {
    mask-image: url("/styles/icons/paperclip.svg");
    -webkit-mask-box-image: url("/styles/icons/paperclip.svg");
}

.circle-button__content-type-send {
    mask-image: url("/styles/icons/send.svg");
    -webkit-mask-box-image: url("/styles/icons/send.svg");
}

.circle-button__content-type-smiled {
    mask-image: url("/styles/icons/smiled.svg");
    -webkit-mask-box-image: url("/styles/icons/smiled.svg");
}

.circle-button__content-type-arrow-left {
    mask-image: url("/styles/icons/arrow-left.svg");
    -webkit-mask-box-image: url("/styles/icons/arrow-left.svg");
}

.circle-button__content-type-lock {
    mask-image: url("/styles/icons/lock.svg");
    -webkit-mask-box-image: url("/styles/icons/lock.svg");
}

.circle-button__content-type-circle-x {
    mask-box-image: url("/styles/icons/circle-x.svg");
    -webkit-mask-box-image: url("/styles/icons/circle-x.svg");
}

.circle-button-hover-scale:hover .circle-button__background {
    transform: scale(1.1);
}

.circle-button-hover-color:hover .circle-button__content {
    background-color: #6c63ff;
}

.circle-button:focus .circle-button__background {
    background-color: #dfddff;
}
