.options__container {
    position: relative;
}

.options__list {
    visibility: hidden;
    position: absolute;
    top: 35px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    z-index: 30;
    padding: 15px 0;
}

.options__list-visibility-visible {
    visibility: visible;
}

.options__item {
    padding: 0 15px;
    list-style-type: none;
}

.options__item:not(:last-child) {
    margin-bottom: 10px;
}

.options__button {
    width: max-content;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #fff;
}

.options__item-icon {
    min-width: 24px;
    min-height: 24px;
    margin-right: 6px;
    background-color: #333;
}

.options__button-color-warning .options__item-icon {
    background-color: #ff4848;
}

.options__button-color-warning {
    color: #ff4848;
}

.options__button:focus {
    background-color: #dfddff;
}

.options__button:hover {
    color: #6c63ff;
}

.options__item-text {
    display: inline-block;
}

.options__button:hover .options__item-icon {
    background-color: #6c63ff;
}

.options__button:hover .options__item-text {
    color: #6c63ff;
}

.options__item-icon-type-circle-plus {
    -webkit-mask-box-image: url("/styles/icons/circle-plus.svg");
}

.options__item-icon-type-circle-minus {
    -webkit-mask-box-image: url("/styles/icons/circle-minus.svg");
}

.options__item-icon-type-sticker {
    -webkit-mask-box-image: url("/styles/icons/sticker.svg");
}

.options__item-icon-type-circle-x {
    -webkit-mask-box-image: url("/styles/icons/circle-x.svg");
}
