.base-button {
    max-width: 100%;
    width: 192px;
    height: 40px;
    color: #fff;
    background-color: #6c63ff;
    border-radius: 20px;
    border: none;
    outline: none;
    transition: transform 150ms ease-in;
    cursor: pointer;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
}

.base-button:focus {
    background-color: #dfddff;
    color: #6c63ff;
}

.base-button:hover {
    transform: scale(1.02);
}

.base-button-inverse {
    color: #6c63ff;
    background-color: transparent;
}

.base-button-inverse:hover {
    text-decoration: underline;
    transform: scale(1);
}

.base-button-type-link {
    display: flex;
    justify-content: center;
    align-items: center;
}
