.auth__container {
    width: 380px;
    min-height: 442px;
    padding: 20px 34px;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.auth__title {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.auth__form {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.auth__fields {
    border: none;
    padding: 0;
    width: 100%;
}

.auth__buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
