<button type="submit" class="chat__button circle-button circle-button-hover-scale">
    <div class="circle-button__background circle-button__background-color-accent"></div>
    <div class="circle-button__content circle-button__content-color-white circle-button__content-type-send"></div>
</button>